/**
* Font Family
**/
@import url(https://fonts.googleapis.com/css?family=Oswald:700|Roboto);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

/**
* Header Styling
**/
.header_background {
    background-color: #3F3F40;
}
.main_menu_bg {
    background-color: #353236;
}
.page-header {
	border: 0px;
}
h1, .h1 {
    font-family: 'Lato', sans-serif;
}
h2, .h2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
h3, .h3 {
    font-family: 'Lato', sans-serif;
}
@media only screen and (min-width: 771px) {
	.logo {
	    margin-top: 15px;
	}
	.nav-primary a:hover {
	    color: #BDE2F5;
	}
	.nav-primary li:hover > a {
	    color: #A2CEE4;
	}
	.nav-primary li:hover ul li a:hover {
	    color: #888;
	}
	#header-nav{
		border: 0px;
	}
	.nav-primary {
		margin-top: 0px;
	}
	.nav-primary a.level0 {
	    font-size: 13px;
	}
	#header-search {
	    display: block;
	    position: absolute;
	    top: 35px;
	    right: 215px;
	    width: 25%;
	    height: 50px;
	    padding: 0;
	}
}
.account-cart-wrapper {
    position: absolute;
    top: 35px;
    right: 0px;
    margin-left: 10px;
}
.nav-primary a {
	color: #fff;
}
.nav-primary li ul a {
	color: #888;
}
.skip-link {
	background-color: transparent;
    color: #fff;
}
.skip-link:hover, .skip-link:focus {
	color: #fff;
}
.icon_font {
	font-size: 18px;
}

/**
* Footer styling
**/
.block-title {
	border-top: 0px;
}
.footer address {
    border-top: 1px solid #cccccc;
    text-align: center;
    width: 100%;
    font-size: 11px;
    margin-top: 30px;
    padding: 15px 0;
    margin-bottom: 0px;
}
.footer-container {
	padding-bottom: 0px;
}
/**
* Home page content
**/
.main_banner a {
    display: block;
    position: relative;
}
.main_banner a .overlay {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(249, 240, 85);
    font-weight: 700;
    font-size: 40px;
    width: 37%;
    font-family: 'Oswald', sans-serif;
    height: 100%;
    padding: 150px 30px;
    background-color: rgba(62, 61, 68, 0.5);
}
.main_banner .small_heading {
    font-size: 28px;
    display: block;
}
.btn-primary {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #3E3D3F;
    transition: all 0.3s ease;
    border-radius: 2px;
    border-color: #3A393F;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3B3437;
    border-color: #3B3437;
}
.top_30 {
	margin-top: 30px;
}
.overlay_yellow {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    font-weight: 700;
    font-size: 30px;
    width: 35%;
    font-family: 'Oswald', sans-serif;
    height: 100%;
    padding: 135px 20px;
    background-color: rgba(254,236,1,0.5);
    color: #fff;
}
.overlay_brown {
    position: absolute;
    bottom: 0;
    height: 50%;
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    height: 35%;
    padding: 20px 70px;
    background-color: rgba(123, 93, 52, 0.5);
    color: #fff;
}
.overlay_blue {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-weight: 700;
    font-size: 30px;
    width: 50%;
    font-family: 'Oswald', sans-serif;
    height: 100%;
    padding: 135px 20px;
    background-color: rgba(116, 151, 179, 0.5);
    color: #fff;
}
.overlay_violet {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-weight: 700;
    font-size: 30px;
    width: 50%;
    font-family: 'Oswald', sans-serif;
    height: 100%;
    padding: 60px 79px;
    background-color: rgba(176, 176, 188, 0.5);
    color: #fff;
}
.overlay_reddish {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-weight: 700;
    font-size: 30px;
    width: 50%;
    font-family: 'Oswald', sans-serif;
    height: 100%;
    padding: 60px 79px;
    background-color: rgba(83, 20, 39, 0.5);
    color: #fff;
}
.main_banner .btn-primary {
	display: block;
}

/*Single Product View Page*/
.product-img-box {
    width: 40%;
}
.product-view .product-shop, .product-view .add-to-cart-wrapper, .product-view .block-related {
    width: 60%;
}
.product-view .product-shop .product-name .h1 {
    float: left;
    text-transform: capitalize;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.product-view .product-shop .product-name .h1, .product-view .product-img-box .product-name h1 {
    color: #353236;
}
.product-view .product-shop .price-info {
    float: left;
    padding-left: 0px;
    text-align: left;
}
.product-view .product-shop .short-description {
    margin-bottom: 10px;
    clear: both;
    color: #AFADAD;
}
.availability_ratings_section {

}
.ratings {
    margin: 0px 0;
}
.ratings .rating-box, .ratings .rating-links {
    margin: 0;
}
.availability_ratings_section {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;
}
.product-view .product-shop .availability {
    font-size: 12px;
}
.product-view .product-shop .price-box .regular-price .price, .product-view .product-shop .price-box .special-price .price, .product-view .product-shop .price-box .full-product-price .price {
    color: #3F3F40;
    font-size: 24px;
    font-weight: 600;
}
.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button {
    background-color: #27B657;
    transition: all 0.3s ease;
}
.button:hover, .cart-table .product-cart-actions .button:hover, #co-shipping-method-form .buttons-set .button:hover, .footer .button:hover {
    background-color: #2CC560;
    transition: all 0.3s ease;
}
.product-view .add-to-links {
    clear: both;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
}
.product-view .add-to-links a {
    text-decoration: none;
    color: #888;
}
.product-view .add-to-links a:hover {
    color: #3F3F40;
}
.add-to-links table {
    color: inherit;
    font-size: inherit;
}
.add-to-links table .pad-right-7 {
    padding-right: 7px;
}
.product-view .add-to-links {
    clear: both;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    padding-top: 7px;
    margin-bottom: 0px;
}
.product-collateral {
    clear: none;
}
.featured_description .tab {
    display: none;
}
.std ul li {
    margin-left: 20px;
    font-size: 12px;
    color: #888;
}

/* SPECIFICATION TABLE */
.specification_table {
    font-size: 13px;
    margin: 0 0 30px 0;
}
.specification_table .table th {
    background-color: #F2F2F2;
    border-bottom: 0px;
}
.specification_table .specskey {
    width: 30%;
    border-bottom: 1px dotted #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-top: 0px;
    font-size: 13px;
}
.specification_table .specsValue {
    border-bottom: 1px dotted #c9c9c9;
    border-left: 1px solid #c9c9c9;
    border-top: 0px;
    font-size: 13px;
}
.table {
    margin-bottom: 0px;
}
/* UPSELL STYLING */
.box-up-sell {
    margin-top: 0px;
}
.products-grid--max-6-col > li {
    width: 47%;
}
.box-up-sell .products-grid .product-name, .box-up-sell .products-list .product-name {
    margin-bottom: 5px;
    font-size: 13px;
    font-family: "Lato", "Helvetica Neue", Verdana, Arial, sans-serif;
    text-transform: capitalize;
    text-align: left;
}
.box-up-sell .products-grid .price-box {
    text-align: left;
}
.box-up-sell .price-box .price {
    color: #3399cc;
    font-size: 13px;
}

/*checkout section*/

.block-content ul li {
    margin-top: 10px;
    margin-left: 10px;
    font-family: roboto;
    font-weight: 300;
    font-size: 12px
}
.block-title span {
    font-family: roboto;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
    color: #888888;
}
.block-content a:hover {
    text-decoration: none;
}
.page-title h1 {
    color: #888888;
    font-family: roboto;
    font-weight: 300;
    margin-top: 5px;
}
.welcome-msg p {
    font-family: roboto;
    font-weight: 100;
    line-height: 25px;
}
.dashboard .box-head h2 {
    font-size: 20px !important;
    font-family: roboto;
    font-weight: 300 !important;
}
.box-title h3 {
    font-family: roboto;
    font-size: 16px !important;
    font-weight: 100 !important;
    color: #000000;
}
.field-wrapper {
    border: 2px solid #888888;
    border-radius: 3px;
}
#discount-coupon-form .input-text {
    width: 140px;
    border: none;
    margin: 0px;
    padding: 0px;
}
.discount-form .button2 span {
    text-decoration: none;
    font-family: roboto;
    color: #FFF200;
    font-size: 13px;
}
.discount-form .button2 {
    background: #3F3F40;
}
.discount-form {
    margin: 15px 0px;
}
.discount-form label {
    font-family: roboto;
}
.shipping h2 {
    font-family: roboto;
    margin-bottom: 10px;
}
.shipping .form-list .shipping-country {
    float: none;
    width: 50%;
}
.shipping .form-list .shipping-postcode {
    width: 50%;
}
.shipping .buttons-set span {
    text-decoration: none;
    font-family: roboto;
}
.cart-forms .discount {
    border: none;
    background-color: #ffffff;
}
.cart-totals {
    border: none;
    background-color: #ffffff;
    margin-top: 50px;
}
.cart-forms .shipping {
    border: none;
    background-color: #ffffff;
}
.cart-forms {
    border: 1px solid black;
    border-radius: 3px;
    width: 35%;
}
.cart .button {
    background-color: #3F3F40;
    color: #FFF200;
    border-radius: 5px;
}
.discount-form {
    margin: 15px 0px;
}
.cart .cart-totals table {
    width: 90%;
    float: right;
    font-family: roboto;
}
.cart-totals .checkout-types .btn-checkout {
    border-radius: 3px;
}
.cart-table .product-cart-actions .qty {
    border-radius: 5px;
    height: 20px;
}
.cart-table thead th {
    font-family: roboto;
}
.cart-table h2 {
    font-family: roboto;   
}
.form-list ul {
    border: 1px solid #888888;
    border-radius: 5px;
    background: #f2f2f2;
}
label {
    font-family: roboto;
}
.form-list .field {
    width: 90%;
    margin: 7px 25px;
    display: block;
    padding: 10px;
}
.form-list .wide {
    width: 90%;
    margin: 7px 25px;
    display: block;
    padding: 10px;
}
.input-box input[type=text] {
    width: 100%;
    height: 25px;
    border-radius: 5px;
}
.input-box input[type=tel] {
    width: 100%;
    height: 25px;
    border-radius: 5px;
}
.step-title .number {
    border-radius: 26px;
    font-family: roboto;
}
.step-title h2 {
    font-family: roboto;
}
#co-billing-form ul.form-list > .control {
    margin: 20px 65px;
    width: 33%;
}
.buttons-set {
    margin: 5px auto;
    padding-top: 10px;
    border-top: none;
    width: 19%;
}
p.required {
    display: none;
}
 /*wishlist section*/
 input[type=text].qty {
    border-radius: 5px;
    height: 20px;
 }
 #wishlist-table textarea {
    border-radius: 5px;
    font-family: roboto;
    margin-bottom: 5px;
 }
 #wishlist-table .item-manage .button {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: roboto;
    background-color: #3F3F40;
    color: #FFF200;
 }
 .buttons-set {
    width: 20%;
 }
 .buttons-set button.button {
    float: left;
    margin-left: 5px;
    margin-bottom: 10px;
    min-width: 140px;
    border-radius: 5px;
    font-family: roboto;
    background-color: #3F3F40;
    color: #FFF200;
 }
 .shipping #co-shipping-method-form .buttons-set .button {
    background-color: #3F3F40;
    color: #FFF200;
 }
 .opc .buttons-set button.button {
    background-color: #3F3F40 !important;
    color: #FFF200 !important;
 }
 #wishlist-table .product-name a {
    font-size: 20px;
    font-family: roboto;
 }
 #wishlist-table .product-name {
    margin-bottom: 20px;
 }
 #wishlist-table td.customer-wishlist-item-cart .button {
    border-radius: 5px;
    font-family: roboto;
    margin-bottom: 15px;
    padding: 5px 10px;
 }
 #wishlist-table.clean-table thead th {
    font-family: roboto;
 }
 .data-table thead th {
    font-family: roboto;
 }
 #wishlist-table td.customer-wishlist-item-cart a {
    background-color: #3F3F40;
    color: #FFF200;
 }
 .button.button-secondary {
    background-color: #3F3F40;
    color: #FFF200;
 }
 .button.btn-share {
    background-color: #3F3F40;
    color: #FFF200;  
 }
 .button.btn-add {
    background-color: #27B657 !important;
    color: #E8F7ED !important;
 }

 /*address book*/
 .my-account .addresses-list .col-1 {
    font-family: roboto;
 }
 .my-account .addresses-list .col-1 h2 {
    font-family: roboto;
 }
 .sidebar .actions .button {
    float: none;
    margin-left: 70px;
    border-radius: 5px;
    font-family: roboto;
    background: #27B657;
    color: #F6FCF8;
 }
 body.customer-account .my-account .addresses-list h2 {
    font-family: roboto;
 }
 body.customer-account .my-account .title-buttons .button {
    background-color: #3F3F40;
    color: #FFF200;
    font-family: roboto;
    border-radius: 5px;
 }
/*products menu*/
.products-grid .actions .button {
    border-radius: 5px;
    font-family: roboto;
    width: 80%;
}
.products-grid .product-name a {
    font-family: roboto;
}

/*add cart*/
.header-minicart .product-details .product-name a {
    font-size: 15px;
    font-family: roboto;
    font-weight: 100;
}
.header-minicart .info-wrapper .qty {
    height: 20px;
    border-radius: 5px;
}
.header-minicart .info-wrapper th {
    font-family: roboto;
}
.header-minicart .minicart-actions .checkout-button {
    background-color: #3F3F40;
    color: #FFF200;
    border-radius: 5px;
    width: 60%;
    font-family: roboto;
}
#header-cart.skip-active {
    border-radius: 10px;
}
.header-minicart .block-subtitle .close {
    margin-right: 5px;
    color: #3F3F40;
    font-size: 50px;
}
.footer .block-subscribe .actions .button {
    background-color: #3F3F40;
    color: #FFF200;
    font-family: roboto;
}
